<div class="row" data-ng-init="getBooks()">
    <div class="col-lg-12">
        <h3>Books</h3>       
        <div data-ng-show="books.length">
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="search" name="search" ng-model="query[queryBy]" placeholder="search">
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="queryBy">
                        <option value="name">Name</option>
                        <option value="year">Year</option>
                        <option value="author">Author</option>
                    </select>
                </div>           
            </form>        
            <hr/>
            <table  class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Language</th>
                        <th>Original Language</th>                    
                    </tr>
                </thead>
                <tbody>

                    <tr data-ng-repeat="book in books| filter:query">
                        <td>{{$index + 1}}</td>
                        <td>{{ book.name}}</td>
                        <td>{{ book.author}}</td>
                        <td>{{ book.year}}</td>
                        <td>{{ book.language}}</td>
                        <td>{{ book.original_language}}</td>                    
                    </tr>
                </tbody>
            </table>
            <div><books-pagination></books-pagination></div>  
        </div>
        <div data-ng-hide="books.length">No Books found</div>
    </div>
</div>
