<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Sign up</strong>
            </div>
            <div class="panel-body">
                <form name="register" class="form-horizontal" role="form" ng-submit="auth.signup()" novalidate>                    
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input required type="email" class="form-control" id="email" name="email" ng-model="auth.email">                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input required type="password" class="form-control" id="password" name="password" ng-model="auth.password">                           
                        </div>
                    </div>
                    <div class="form-group" ng-show="auth.error"  ng-class="{'has-error': auth.error}"><div class="col-sm-offset-2 col-sm-10" id="error_wrap"></div></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-disabled="register.$invalid" type="submit" class="btn btn-primary pull-right">Sign up</button>
                        </div>
                    </div> 
                    
                </form>
            </div>
        </div>
    </div>
</div>