<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Sign In</div>
            <div class="panel-body">
                <form name="login" class="form-horizontal" role="form" ng-submit="auth.login()" novalidate>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10" ng-class="{'has-error': auth.error}">
                            <input required type="email" class="form-control" ng-model="auth.email">
                            <span data-ng-show="auth.error"  class="help-block">{{ auth.error}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">                     
                            <input required type="password" class="form-control"  ng-model="auth.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-disabled="login.$invalid" type="submit" class="btn btn-primary pull-right">Sign In</button>                            
                        </div>
                    </div>               

                </form>
            </div>
        </div>
    </div>
</div>