<div class="row" data-ng-init="getUserBooks()">
    <div class="col-lg-9">
        <h3>Books</h3>        
        <div data-ng-show="userBooks.length">
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="search" name="search" data-ng-model="query[queryBy]" placeholder="search">
                </div>
                <div class="form-group">
                    <select class="form-control" data-ng-model="queryBy">
                        <option value="name">Name</option>
                        <option value="year">Year</option>
                        <option value="author">Author</option>
                    </select>
                </div>           
            </form>
            <hr/>       
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Language</th>
                        <th>Original Language</th>
                        <th data-ng-show="token">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="book in userBooks| filter:query">
                        <td>{{$index + 1}}</td>
                        <td>{{ book.name}}</td>
                        <td>{{ book.author}}</td>
                        <td>{{ book.year}}</td>
                        <td>{{ book.language}}</td>
                        <td>{{ book.original_language}}</td>
                        <td data-ng-show="token">
                            <button data-ng-click="edit(book)" 
                                    class="btn btn-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button data-ng-click="delete(book.id)" 
                                    onclick="return confirm('Are you sure that you want to delete this item?')" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div>
        <div data-ng-hide="userBooks.length">No Books found</div>
    </div>
    <div  data-ng-show="token" class="col-lg-3">
        <div ng-include="'angular/partials/create-form.html'"></div>
        <div ng-include="'angular/partials/edit-form.html'"></div>      
    </div>
</div>
