<form data-ng-show="book.method" id="bookForm" novalidate name="bookForm" data-ng-submit="submitCreate()">
    <h3>Create Book</h3>
    <div class="form-group">
        <label id="name">Name</label>
        <input required type="text" class="form-control" name="name" data-ng-model="createBook.name">
    </div>
    <div class="form-group">
        <label id="name">Author</label>
        <input required type="text" class="form-control" name="author" data-ng-model="createBook.author">
    </div>
    <div class="form-group">
        <label id="name">Year</label>
        <input required type="number" class="form-control" name="year" data-ng-model="createBook.year">
    </div>
    <div class="form-group">
        <label id="name">Language</label>
        <input required type="text" class="form-control" name="language" data-ng-model="createBook.language">
    </div>
    <div class="form-group">
        <label id="name">Original Language</label>
        <input required type="text" class="form-control" name="original_language" data-ng-model="createBook.original_language">
    </div>
    <div class="form-group">
        <button ng-disabled="bookForm.$invalid" type="submit" class="btn btn-default">Create</button>
    </div>
</form>