<form data-ng-hide="book.method" id="bookEditForm" novalidate name="bookEditForm" data-ng-submit="submitEdit()">
    <h3>Edit Book</h3>
    <div class="form-group">
        <label id="name">Name</label>
        <input type="hidden" class="form-control" name="id" data-ng-model="editBook.id">
        <input required type="text" class="form-control" name="name" data-ng-model="editBook.name">
    </div>
    <div class="form-group">
        <label id="name">Author</label>
        <input required type="text" class="form-control" name="author" data-ng-model="editBook.author">
    </div>
    <div class="form-group">
        <label id="name">Year</label>
        <input required type="text" class="form-control" name="year" data-ng-model="editBook.year">
    </div>
    <div class="form-group">
        <label id="name">Language</label>
        <input required type="text" class="form-control" name="language" data-ng-model="editBook.language">
    </div>
    <div class="form-group">
        <label id="name">Original Language</label>
        <input required type="text" class="form-control" name="original_language" data-ng-model="editBook.original_language">
    </div>
    <div class="form-group">
        <button ng-disabled="bookEditForm.$invalid" type="submit" class="btn btn-info">Edit</button>
        <button data-ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
</form>