<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" ng-href="/">
                Laravel Angular
            </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">

            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li class="{{ main.pageClass('/')}}"><a ng-href="/">Home</a></li>
                <li class="{{ main.pageClass('/books')}}"><a ng-href="/books">Books</a></li>
                <li data-ng-show="token" class="{{ main.pageClass('/user-books')}}"><a ng-href="/user-books">Your Books</a></li>
            </ul>           

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                <li class="{{ main.pageClass('/signin')}}" data-ng-hide="token"><a ng-href="/signin">Sign In</a></li>
                <li class="{{ main.pageClass('/signup')}}" data-ng-hide="token"><a ng-href="/signup">Sign Up</a></li>
                <li data-ng-show="token"><a href="#" ng-click="main.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>